html, body {
	margin: 0;
	padding: 0;
	background: #efefef;
	font-family: Tahoma;
	font-size: 12pt;
}

.main-layout {
	width: 640px;
	padding: 32px;
	background: #ffffff;
	border: solid 1px #e6e6e6;
	border-top: none;
	margin: 0 auto;
}

.logo {
	width: 512px;
	margin: 0 64px;
}

.links-line {
	text-align: center;
	margin: 15px 0;
}

.links-line a {
	display: inline-block;
	font-size: 16pt;
	text-decoration: none;
	color: #000000;
	border-top: solid 2px #000000;
	border-bottom: solid 2px #000000;
	padding: 5px;
}

.links-line a span {
	font-size: 14pt;
	color: #008000;
}

.links-line a:hover {
	border-color: #ff9900;
}

.line {
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: solid 1px #cccccc;
}

.copyright
{
	margin-top: 32px;
	text-align: center;
	font-size: 12px;
	margin: 32px 0;
}

p {
	text-indent: 32px;
	line-height: 1.5em;
}

code {
	font-weight: bold;
	font-size: 14pt;
}

code span {
	color: #999999;
}

pre {
	font-family: monospace;
	font-size: 16pt;
}

pre span {
	font-family: Tahoma;
	font-size: 14pt;
	color: #999999;
}
